$numberOfRows: 4;
$numberOfCols: 3;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: teal;
  position: relative;
}

@import './temp-screen';
@import './modal';

@import './ready-screen';
@import './game-screen';
@import './win-screen';
